service: feed-subscribe

plugins:
  - serverless-offline
  - serverless-dotenv-plugin

provider:
  name: aws
  runtime: nodejs12.x
  region: us-east-1
  environment:
    AUTH0_CLIENT_ID: ${env:AUTH0_CLIENT_ID}
    AUTH0_CLIENT_PUBLIC_KEY: ${file(./public_key)}
    stage: ${opt:stage, self:provider.stage}
    tableName: ${self:custom.stage}-comments-table
    graphQLTable: ${self:custom.stage}-graphql

custom:
  stage: ${opt:stage, self:provider.stage}
  tableName: ${self:custom.stage}-comments-table
  graphQLTable: ${self:custom.stage}-graphql

functions:
  auth:
    handler: handler.auth
    cors: true
  publicEndpoint:
    handler: handler.publicEndpoint
    events:
      - http:
          path: api/public
          method: post
          cors: true
  privateEndpoint:
    handler: handler.privateEndpoint
    events:
      - http:
          path: api/private
          method: post
          # See custom authorizer docs here: http://bit.ly/2gXw9pO
          authorizer: auth
          cors: true
  graphql:
    handler: graphql.graphqlHandler
    events:
      - http:
          path: api/graphql
          method: get
          authorizer: auth
          cors: true
      - http:
          path: api/graphql
          method: post
          authorizer: auth
          cors: true
  gql:
    handler: gql.graphqlHandler
    events:
      - http:
          path: graphql
          method: post
          cors: true
      - http:
          path: graphql
          method: get
          cors: true

resources:
  # API Gateway Errors
  - ${file(resources/gateway-response.yml)}
  # DynamoDB
  - ${file(resources/dynamodb-table.yml)}
